* {
    box-sizing: border-box;
}
body
{
	font-family: "Roboto";	
	background: linear-gradient(0.25turn, #81DAF5, #fff);
}

.container {
	padding:  15px

}

.logo {
	width: 150px;
	
}

.logo:hover {
	width: 160px;
	filter: drop-shadow(5px 5px 5px #000);
	transition: 0.4s;
	transition-duration: 0.6s;
}

.logo-gota {
	width: 200px;
	filter: drop-shadow(1px 1px 1px #000);
}

.logo-gota:hover {
	width: 210px;
	filter: drop-shadow(5px 5px 5px #000);
	transition-duration: 0.6s;
	}

.bloque-inicio {
	position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
    backdrop-filter: blur(3px);
    color: #fff;
}

.bloque-inicio a {
	color: #fff;
	background-color: #81DAF5;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10%;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	border: none;
}

h1
{
	color: #fff;
	font-size: 50px;	
}
h1 b
{
	color: #fff;
	font-size: 50px;	
}

h1 b:hover
{
	color: #81daff;
	font-size: 55px;
	transition: 0.4s;
	filter: drop-shadow(5px 5px 5px #000);	
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
	}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate;
	animation-timing-function: ease-in;

}


.slider li{
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
	height: 100%
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	80% {margin-left: -300%}
	100% {margin-left: -300%}
}

.svglogo{
	width: 100%
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.clientes-container img {
    width: 150px;
    margin: 10px;
      
}

.clientes-container img:hover {
    width: 150px;
    margin: 10px;
    transition: 0.4s;
	filter: drop-shadow(5px 5px 5px #666);    
}













//Esto que se desplase hasta abajo
footer .redes
{
	font-size: 30px;
	display: flex;
}

footer .redes a
{
	margin: 0 7.5px;
}

footer .redes {
	    justify-content: flex-start;
	}

footer .redes
{
	font-size: 30px;
	display: flex;
	text-decoration: none;	
	list-style: none;
}

footer .redes a
{
	margin: 0 7.5px;
}

footer .face:hover
{
	color: #3b5998;
	font-size: 35px;
	transition: 0.4s;
	}

footer .twit:hover
{
	color: #1da1f2;
	font-size: 35px;
	transition: 0.4s;
}

footer .whats:hover
{
	color: #4AC959; 
	font-size: 35px;
	transition: 0.4s;
}

a{
	color: #000;
	text-decoration: none;
}



@media (max-width: 869px){


.bloque-inicio{
	position: absolute;
    top: 30%;
    left: 50%;
    width: auto;
    padding: 10px;
    text-align: center;
    margin-left: -160px;
    
    color: #fff;
}

.slider img {
	width: 100%;
	display: block;
	top: 83px;
	height: 100vh;
	}




@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	80% {margin-left: -300%}
	100% {margin-left: -300%}
}






}