* {
    box-sizing: border-box;
}
body
{
	font-family: "Roboto";	
	background: linear-gradient(0.25turn, #81DAF5, #fff);
}

header
{
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;	
	width: 100%;
}

header .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(1px); 
	background-color: #fff;
	top: -10px;
}



header .container nav a
{
	color: #3A64FF;
	text-decoration: none;
	margin: 0 15px;
	font-size: 25px;

}

header .container nav a:hover
{
	color: #7da8FF;
	text-decoration: none;
	margin: 0 15px;
	font-size: 30px;

}


header .container .hamb
{
	display: none;
	position: relative;
}

.container {
	padding:  15px

}

.logo {
	width: 150px;
	
}

.logo:hover {
	width: 160px;
	filter: drop-shadow(5px 5px 5px #000);
	transition: 0.4s;
	transition-duration: 0.6s;
}

.logo-gota {
	width: 230px;
	filter: drop-shadow(1px 1px 1px #000);
}

.logo-gota:hover {
	width: 250px;
	filter: drop-shadow(5px 5px 5px #000);
	transition-duration: 0.6s;
	}

	header .container .hamb
{
	display: none;
	position: relative;
}

.bloque-inicio {
	position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
    backdrop-filter: blur(3px);
    color: #fff;
    filter: drop-shadow(5px 5px 5px #000);
    font-size: 40px;
}

.bloque-inicio a {
	color: #fff;
	background-color: #81DAF5;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10%;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	border: none;
}

h1
{
	color: #fff;
	font-size: 60px;	
}
h1 b
{
	color: #fff;
	font-size: 60px;	
}

h1 b:hover
{
	color: #81daff;
	font-size: 65px;
	transition: 0.4s;
	filter: drop-shadow(5px 5px 5px #000);	
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
	}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate;
	animation-timing-function: ease-in;

}


.slider li{
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
	height: 100%
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	80% {margin-left: -300%}
	100% {margin-left: -300%}
}

.svglogo{
	width: 100%
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.clientes-container img {
    width: 150px;
    margin: 10px;
      
}

.clientes-container img:hover {
    width: 150px;
    margin: 10px;
    transition: 0.4s;
	filter: drop-shadow(5px 5px 5px #666);    
}













//Esto que se desplase hasta abajo

footer .loghg {
	width: 30px
	display: flex;
}

footer .redes
{
	font-size: 30px;
	display: flex;
}

footer .redes a
{
	margin: 0 7.5px;
}

footer .redes {
	    justify-content: flex-start;
	}

footer .redes
{
	font-size: 30px;
	display: flex;
	text-decoration: none;	
	list-style: none;
}

footer .redes a
{
	margin: 0 7.5px;
}

footer .face:hover
{
	color: #3b5998;
	font-size: 35px;
	transition: 0.4s;
	}

footer .twit:hover
{
	color: #1da1f2;
	font-size: 35px;
	transition: 0.4s;
}

footer .whats:hover
{
	color: #4AC959; 
	font-size: 35px;
	transition: 0.4s;
}

a{
	color: #000;
	text-decoration: none;
}

.container
{
	width: 100%;
	margin: 0 auto 0 auto;
	padding-right: 50px;
	padding-left: 50px;
	position: relative;
}


@media (max-width: 1070px){
	body .bloque-inicio{
	top: 30%;
}

header .container .hamb
	{
		display: block;
		font-size: 40px;
		color: #000;
	}

	header .container nav 
	{
		position: fixed;
		width: 100%;
		height: 700px;
		background-color: white;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-right: 15px;
		padding-left: 15px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease;
		transform: translateX(100%);
	}

	header .container nav.open 
	{
		transform: translateX(0);
	}

	header .container nav a
	{
		font-size: 30px;
		margin: 15px 0;
	}

	header .container nav a:hover
	{
		font-size: 40px;
		margin: 15px 0;
	}
	

.bloque-inicio{
	   
    backdrop-filter: none;

}

.slider img {
	width: 150%;
	display: block;
	top: 83px;
	height: 100vh;
	}

.ajuste-perfecto {
	padding: px;
}








}

